<div [formGroup] = "form">
  <!-- <label [attr.for] = "control.key" *ngIf="control.label != 'n/a'">{{control.label}}</label> -->
  <div [ngSwitch] = "control.controlType">
      <div class="form-control" *ngSwitchCase = "'textbox'">

          <mat-form-field class="example-full-width">
            <input matInput [placeholder]= "control.label" [formControlName] = "control.key" [id] ="control.key" [type] = "control.type" >
          </mat-form-field>

      </div>

      <div class="form-control"  *ngSwitchCase = "'dropdown'">
          <mat-form-field>
              <mat-select [id] = "control.key" [placeholder]="control.label" [formControlName]="control.key" required>
                <mat-option>--</mat-option>
                <mat-option *ngFor="let opt of control.options" [value]="opt.value">
                    {{opt.key}}
                </mat-option>
              </mat-select>
            </mat-form-field>
      </div>

      <div class="form-control" *ngSwitchCase = "'button'">
        <button mat-button mat-raised-button color="primary" [id] ="control.key" [type] = "control.type">{{control.value}}</button>
      </div>
    
  </div>
  <div *ngIf="control.formGroupInfo">
      <div [ngSwitch] = "control.formGroupInfo.type | lowercase ">
          <div *ngSwitchCase ="'product'">
            <app-add-product [form] ="form" [controlGroup] = "control"></app-add-product>
          </div>
      </div>
    </div>
  <!-- <mat-error *ngIf="!isValid" >{{control.label}} is required</mat-error> -->
</div>