Api/SpreadApi/SpreadApi/SpreadApi/bin/Debug/netcoreapp2.2/SpreadApi.dll
Api/SpreadApi/SpreadApi/.vs/SpreadApi/v15/.suo
Api/SpreadApi/SpreadApi/.vs/SpreadApi/v15/Server/sqlite3/db.lock
Api/SpreadApi/SpreadApi/.vs/SpreadApi/v15/Server/sqlite3/storage.ide
Api/SpreadApi/SpreadApi/.vs/SpreadApi/v15/Server/sqlite3/storage.ide-shm
Api/SpreadApi/SpreadApi/.vs/SpreadApi/v15/Server/sqlite3/storage.ide-wal
Api/SpreadApi/SpreadApi/.vs/config/applicationhost.config
Api/SpreadApi/SpreadApi/SpreadApi/appsettings.json
Api/SpreadApi/SpreadApi/SpreadApi/bin/Debug/netcoreapp2.2/SpreadApi.pdb
Api/SpreadApi/SpreadApi/SpreadApi/bin/Debug/netcoreapp2.2/SpreadApi.deps.json
Api/SpreadApi/SpreadApi/SpreadApi/bin/Debug/netcoreapp2.2/SpreadApi.runtimeconfig.json
Api/SpreadApi/SpreadApi/SpreadApi/bin/Debug/netcoreapp2.2/SpreadApi.runtimeconfig.dev.json
Api/SpreadApi/SpreadApi/SpreadApi/bin/Debug/netcoreapp2.2/SpreadCommon.dll
Api/SpreadApi/SpreadApi/SpreadApi/bin/Debug/netcoreapp2.2/SpreadCommon.pdb
Api/SpreadApi/SpreadApi/SpreadApi/bin/Debug/netcoreapp2.2/SpreadRepository.dll
Api/SpreadApi/SpreadApi/SpreadApi/bin/Debug/netcoreapp2.2/SpreadRepository.pdb
Api/SpreadApi/SpreadApi/SpreadApi/bin/Debug/netcoreapp2.2/SpreadService.dll
Api/SpreadApi/SpreadApi/SpreadApi/bin/Debug/netcoreapp2.2/SpreadService.pdb
Api/SpreadApi/SpreadApi/SpreadApi/obj/SpreadApi.csproj.nuget.cache
Api/SpreadApi/SpreadApi/SpreadApi/obj/SpreadApi.csproj.nuget.g.props
Api/SpreadApi/SpreadApi/SpreadApi/obj/SpreadApi.csproj.nuget.g.targets
Api/SpreadApi/SpreadApi/SpreadApi/obj/project.assets.json
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/SpreadApi.dll
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/SpreadApi.pdb
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/SpreadApi.AssemblyInfo.cs
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/SpreadApi.AssemblyInfoInputs.cache
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/SpreadApi.RazorAssemblyInfo.cache
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/SpreadApi.RazorAssemblyInfo.cs
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/SpreadApi.RazorTargetAssemblyInfo.cache
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/SpreadApi.assets.cache
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/SpreadApi.csproj.CopyComplete
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/SpreadApi.csproj.CoreCompileInputs.cache
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/SpreadApi.csproj.FileListAbsolute.txt
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/SpreadApi.csprojAssemblyReference.cache
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Api/SpreadApi/SpreadApi/SpreadApi/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Api/SpreadApi/SpreadApi/SpreadCommon/Helper/Mapper.cs
Api/SpreadApi/SpreadApi/SpreadCommon/bin/Debug/netcoreapp2.2/SpreadCommon.dll
Api/SpreadApi/SpreadApi/SpreadCommon/bin/Debug/netcoreapp2.2/SpreadCommon.pdb
Api/SpreadApi/SpreadApi/SpreadCommon/bin/Debug/netcoreapp2.2/SpreadCommon.deps.json
Api/SpreadApi/SpreadApi/SpreadCommon/bin/Debug/netcoreapp2.2/SpreadCommon.runtimeconfig.json
Api/SpreadApi/SpreadApi/SpreadCommon/bin/Debug/netcoreapp2.2/SpreadCommon.runtimeconfig.dev.json
Api/SpreadApi/SpreadApi/SpreadCommon/obj/SpreadCommon.csproj.nuget.cache
Api/SpreadApi/SpreadApi/SpreadCommon/obj/SpreadCommon.csproj.nuget.g.props
Api/SpreadApi/SpreadApi/SpreadCommon/obj/SpreadCommon.csproj.nuget.g.targets
Api/SpreadApi/SpreadApi/SpreadCommon/obj/project.assets.json
Api/SpreadApi/SpreadApi/SpreadCommon/obj/Debug/netcoreapp2.2/SpreadCommon.dll
Api/SpreadApi/SpreadApi/SpreadCommon/obj/Debug/netcoreapp2.2/SpreadCommon.pdb
Api/SpreadApi/SpreadApi/SpreadCommon/obj/Debug/netcoreapp2.2/SpreadCommon.AssemblyInfo.cs
Api/SpreadApi/SpreadApi/SpreadCommon/obj/Debug/netcoreapp2.2/SpreadCommon.AssemblyInfoInputs.cache
Api/SpreadApi/SpreadApi/SpreadCommon/obj/Debug/netcoreapp2.2/SpreadCommon.assets.cache
Api/SpreadApi/SpreadApi/SpreadCommon/obj/Debug/netcoreapp2.2/SpreadCommon.csproj.CoreCompileInputs.cache
Api/SpreadApi/SpreadApi/SpreadCommon/obj/Debug/netcoreapp2.2/SpreadCommon.csproj.FileListAbsolute.txt
Api/SpreadApi/SpreadApi/SpreadCommon/obj/Debug/netcoreapp2.2/SpreadCommon.csprojAssemblyReference.cache
Api/SpreadApi/SpreadApi/SpreadCommon/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Api/SpreadApi/SpreadApi/SpreadCommon/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Api/SpreadApi/SpreadApi/SpreadCommon/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Api/SpreadApi/SpreadApi/SpreadRepository/bin/Debug/netcoreapp2.2/SpreadCommon.dll
Api/SpreadApi/SpreadApi/SpreadRepository/bin/Debug/netcoreapp2.2/SpreadCommon.pdb
Api/SpreadApi/SpreadApi/SpreadRepository/bin/Debug/netcoreapp2.2/SpreadRepository.dll
Api/SpreadApi/SpreadApi/SpreadRepository/bin/Debug/netcoreapp2.2/SpreadRepository.pdb
Api/SpreadApi/SpreadApi/SpreadRepository/bin/Debug/netcoreapp2.2/SpreadRepository.deps.json
Api/SpreadApi/SpreadApi/SpreadRepository/obj/SpreadRepository.csproj.nuget.cache
Api/SpreadApi/SpreadApi/SpreadRepository/obj/SpreadRepository.csproj.nuget.g.props
Api/SpreadApi/SpreadApi/SpreadRepository/obj/SpreadRepository.csproj.nuget.g.targets
Api/SpreadApi/SpreadApi/SpreadRepository/obj/project.assets.json
Api/SpreadApi/SpreadApi/SpreadRepository/obj/Debug/netcoreapp2.2/SpreadRepository.dll
Api/SpreadApi/SpreadApi/SpreadRepository/obj/Debug/netcoreapp2.2/SpreadRepository.pdb
Api/SpreadApi/SpreadApi/SpreadRepository/obj/Debug/netcoreapp2.2/SpreadRepository.AssemblyInfo.cs
Api/SpreadApi/SpreadApi/SpreadRepository/obj/Debug/netcoreapp2.2/SpreadRepository.AssemblyInfoInputs.cache
Api/SpreadApi/SpreadApi/SpreadRepository/obj/Debug/netcoreapp2.2/SpreadRepository.assets.cache
Api/SpreadApi/SpreadApi/SpreadRepository/obj/Debug/netcoreapp2.2/SpreadRepository.csproj.CopyComplete
Api/SpreadApi/SpreadApi/SpreadRepository/obj/Debug/netcoreapp2.2/SpreadRepository.csproj.CoreCompileInputs.cache
Api/SpreadApi/SpreadApi/SpreadRepository/obj/Debug/netcoreapp2.2/SpreadRepository.csproj.FileListAbsolute.txt
Api/SpreadApi/SpreadApi/SpreadRepository/obj/Debug/netcoreapp2.2/SpreadRepository.csprojAssemblyReference.cache
Api/SpreadApi/SpreadApi/SpreadRepository/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Api/SpreadApi/SpreadApi/SpreadRepository/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Api/SpreadApi/SpreadApi/SpreadRepository/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
Api/SpreadApi/SpreadApi/SpreadService/bin/Debug/netcoreapp2.2/SpreadCommon.dll
Api/SpreadApi/SpreadApi/SpreadService/bin/Debug/netcoreapp2.2/SpreadCommon.pdb
Api/SpreadApi/SpreadApi/SpreadService/bin/Debug/netcoreapp2.2/SpreadRepository.dll
Api/SpreadApi/SpreadApi/SpreadService/bin/Debug/netcoreapp2.2/SpreadRepository.pdb
Api/SpreadApi/SpreadApi/SpreadService/bin/Debug/netcoreapp2.2/SpreadService.dll
Api/SpreadApi/SpreadApi/SpreadService/bin/Debug/netcoreapp2.2/SpreadService.pdb
Api/SpreadApi/SpreadApi/SpreadService/bin/Debug/netcoreapp2.2/SpreadService.deps.json
Api/SpreadApi/SpreadApi/SpreadService/obj/SpreadService.csproj.nuget.cache
Api/SpreadApi/SpreadApi/SpreadService/obj/SpreadService.csproj.nuget.g.props
Api/SpreadApi/SpreadApi/SpreadService/obj/SpreadService.csproj.nuget.g.targets
Api/SpreadApi/SpreadApi/SpreadService/obj/project.assets.json
Api/SpreadApi/SpreadApi/SpreadService/obj/Debug/netcoreapp2.2/SpreadService.dll
Api/SpreadApi/SpreadApi/SpreadService/obj/Debug/netcoreapp2.2/SpreadService.pdb
Api/SpreadApi/SpreadApi/SpreadService/obj/Debug/netcoreapp2.2/SpreadService.AssemblyInfo.cs
Api/SpreadApi/SpreadApi/SpreadService/obj/Debug/netcoreapp2.2/SpreadService.AssemblyInfoInputs.cache
Api/SpreadApi/SpreadApi/SpreadService/obj/Debug/netcoreapp2.2/SpreadService.assets.cache
Api/SpreadApi/SpreadApi/SpreadService/obj/Debug/netcoreapp2.2/SpreadService.csproj.CopyComplete
Api/SpreadApi/SpreadApi/SpreadService/obj/Debug/netcoreapp2.2/SpreadService.csproj.CoreCompileInputs.cache
Api/SpreadApi/SpreadApi/SpreadService/obj/Debug/netcoreapp2.2/SpreadService.csproj.FileListAbsolute.txt
Api/SpreadApi/SpreadApi/SpreadService/obj/Debug/netcoreapp2.2/SpreadService.csprojAssemblyReference.cache
Api/SpreadApi/SpreadApi/SpreadService/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
Api/SpreadApi/SpreadApi/SpreadService/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
Api/SpreadApi/SpreadApi/SpreadService/obj/Debug/netcoreapp2.2/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
