<mat-grid-list cols="1" rowHeight="20.6em">
  <mat-grid-tile>
    <div id="main">
      <div class = "text-center">
        <h1 class="mat-h1">Alphonso, Inspired</h1>
        <h3 class="mat-h3">by Nature</h3>
      </div>
    </div>

  </mat-grid-tile>
  <!-- <mat-grid-tile>2</mat-grid-tile>
    <mat-grid-tile>3</mat-grid-tile> -->
</mat-grid-list>

<mat-grid-list cols="4" rowHeight="100px">
  <mat-grid-tile
      *ngFor="let tile of tiles"
      [colspan]="tile.cols"
      [rowspan]="tile.rows"
      [style.background]="tile.color">
    {{tile.text}}
  </mat-grid-tile>
</mat-grid-list>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6 mdc-layout-grid__cell--span-8-tablet">

    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4 mdc-layout-grid__cell--span-6-tablet"></div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-2 mdc-layout-grid__cell--span-4-mobile"></div>

  </div>
</div>