<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <mat-toolbar color="primary" class="mat-elevation-z6 navbar navbar-header">
      <div class="mat-layout-grid__cell mat-layout-grid__cell--span-4 mat-layout-grid__cell--span-12-tablet mat-layout-grid__cell--span-12-mobile">
        <span>
          <i>
            <a mat-button class="no-link-decoration" routerLink="">
              <i class="material-icons">explore</i>Alphonso, The Mango
            </a>
          </i>
        </span>

      </div>
      <span class="fill-space"></span>
      <div id="navMenu" class="mat-layout-grid__cell mat-layout-grid__cell--span-12 mat-layout-grid__cell--span-12-tablet">
        <div id="menuItems">
          <button mat-button [matMenuTriggerFor]="menu1">Hero</button>
          <mat-menu #menu1="matMenu">
            <a mat-menu-item routerLink="hero/hero-list">Hero List</a>
            <a mat-menu-item routerLink="hero/hero-flying-hero">Flying Heroes</a>
          </mat-menu>

          <button mat-button [matMenuTriggerFor]="menu2">Menu2</button>
          <mat-menu #menu2="matMenu">
            <button mat-menu-item>item1</button>
            <button mat-menu-item>item2</button>
          </mat-menu>

          <button mat-button [matMenuTriggerFor]="menu3">Menu3</button>
          <mat-menu #menu3="matMenu">
            <button mat-menu-item>item1</button>
            <button mat-menu-item>item2</button>
          </mat-menu>

          <button mat-button [matMenuTriggerFor]="menu4">Menu4</button>
          <mat-menu #menu4="matMenu">
            <button mat-menu-item>item1</button>
            <button mat-menu-item>item2</button>
          </mat-menu>
        </div>
      </div>
    </mat-toolbar>
  </div>
</div>