.mat-elevation-z6 {
    box-shadow: 0 3px 5px -1px rgba(0,0,0,.2), 0 6px 10px 0 rgba(0,0,0,.14), 0 1px 18px 0 rgba(0,0,0,.12);
}
.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 2;
}

.navbar-header
{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 8px 16px;
    height: 56px !important;
 
}

.fill-space{
    flex: 1 1 auto;
}