<div [formGroup]="form">
  <!-- <label [attr.for] = "control.key" *ngIf="control.label != 'n/a'">{{control.label}}</label> -->

  <!--Rendering Formcontrol here-->
  <div *ngIf="!control.formGroupInfo && control.controlType">
    <app-form-control-renderer [form]="form" [control]="control" *ngIf= "visible(controlName)"></app-form-control-renderer>
  </div>

  <!---Rendering FormGroup here-->
  <div *ngIf="control.formGroupInfo">
    <app-form-group-control-renderer [form]="form.controls[controlName]" [controlGroup]="control"></app-form-group-control-renderer>
  </div>

  <!--Rendering FormArray here-->
  <!--Checking if it's an controls array-->
  <div *ngIf="control.push && form.controls[controlName]">
    <!--Rendering Custom designed arrays-->
    <div *ngIf="controlRenderingInfo && controlRenderingInfo[controlName] && controlRenderingInfo[controlName].controlType =='custom'; then custom else default">
    </div>
    <ng-template #custom>
        <app-custom-array-control-renderer [form]="form" [controlArray] = "control" [controlArrayName]="controlName" [renderingInfo] = "controlRenderingInfo[controlName]"></app-custom-array-control-renderer>
    </ng-template>

    <ng-template #default>
      <div formArrayName="{{controlName}}" *ngFor="let controlGroup of control; let i = index;">
        <app-form-group-control-renderer [form]="form.controls[controlName].controls[i]" [controlGroup]="controlGroup"></app-form-group-control-renderer>
      </div>
    </ng-template>
  </div>
</div>