<div  [formGroup]="form">
  <div [ngSwitch]="control.controlType">
    <div class="form-control" *ngSwitchCase="'textbox'">
      <mat-form-field class="example-full-width">
        <input matInput [placeholder]="control.label" [formControlName]="control.key" [id]="control.key" [type]="control.type">
      </mat-form-field>
    </div>

    <div class="form-control" *ngSwitchCase="'checkbox'">
      <mat-form-field class="example-full-width">
        <mat-checkbox class="example-margin" [formControlName]="control.key">{{control.label}}</mat-checkbox>
      </mat-form-field>
    </div>

    <div class="form-control" *ngSwitchCase="'dropdown'">
      <mat-form-field>
        <mat-select [id]="control.key" [placeholder]="control.label" [formControlName]="control.key" required>
          <mat-option>--</mat-option>
          <mat-option *ngFor="let opt of control.options" [value]="opt.value">
            {{opt.key}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="form-control" *ngSwitchCase="'button'">
      <button mat-button mat-raised-button color="primary" [id]="control.key" [type]="control.type">{{control.value}}</button>
    </div>
  </div>
</div>
 <!-- <mat-error *ngIf="!isValid" >{{control.label}} is required</mat-error> -->