mat-grid-tile {
    background: #3f51b5;
  }

  .text-center
  {
    text-align: center;
  }
  #main{
    
    color: #ffffff;
    font: 'Roboto',"Helvetica Neue",sans-serif;
       top: -31px;
    position: relative;
  }
  #main h1{
    font-size: 56px;
    font-weight: lighter;
  }

  #main h3{
    font-size: 15px;
    font-weight: lighter;
  }