/* You can add global styles to this file, and also import other style files */

@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";
@import "../node_modules/@material/layout-grid/dist/mdc.layout-grid.css";
html, body { height: 100%; }
body { 
    margin: 0;
    font-family: 'Roboto', sans-serif;
    overflow: hidden;
 }
 .content{
    /*margin-top: 56px; */
    overflow-y: scroll;
 }


 
@media (max-width: 608.5px){
    .content{
        margin-top: 112px;
    }
}


.disabled {
    pointer-events: none;
    opacity: 0.4;
}