<!-- New Hero : 
<input  type = "text" #box 
        (keyup.enter) = "addHero(box.value); box.value= '' "
        placeholder="Hero name" />
        Canfly: <mat-checkbox [(ngModel)] = "canFly"></mat-checkbox> 
<button mat-raised-button color="link" (click) = "reset()">Reset</button>

<div *ngFor="let hero of (heroes | flyingHeroesImpure)">
  {{hero.name}}
</div>
<hr>
<div *ngFor="let hero of heroes">
  {{hero.name}}
</div>

<div>
  app-hero-async-message component inside flying heroes
</div>
<app-hero-async-message></app-hero-async-message> -->


<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell  mdc-layout-grid__cell--span-6">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6"><span>Second level</span></div>
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6"><span>Second level</span></div>
      </div>
    </div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">First level</div>
    <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-3">First level</div>
  </div>
</div>

<div class="mdc-layout-grid">
  <div class="mdc-layout-grid__inner">
    <div class="mdc-layout-grid__cell mdc-layout-grid--align-left
      mdc-layout-grid__cell--span-2-desktop
      mdc-layout-grid__cell--span-4-tablet
      mdc-layout-grid__cell--span-6-phone">first</div>
    <div class="mdc-layout-grid__cell
      mdc-layout-grid__cell--span-2-desktop
      mdc-layout-grid__cell--span-4-tablet
      mdc-layout-grid__cell--span-2-phone">second</div>
  </div>
</div>